body {
  background-color: powderblue;
}

h2 {
  color: orange;
}

table {
    border: 1px solid #333;
    /*color: #440044;*/
}

td {
    border: 1px solid #333;
    color: #440044;
    alignment: center;
    /*padding-right: 2em;*/
}

th {
    /*background-color: navy;*/
    color: orangered;
    /*border: 1px solid #333;*/
    alignment: right;
    /*padding-right: 2em;*/
}

.box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

a {
    /*color: orange;*/
    padding-right: 2em;
}