<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    {%  if title %}
    <title>Trash Panda Hoard: {{ title }}</title>
    {% else %}
    <title>Trash Panda Hoard</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Behold My Stuff</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a> </li>
                {% for category_datum in categories %}
                    <li>
                        <a href="/category/{{ category_datum.name }}">{{ category_datum.description }}</a>
                    </li>
                {% endfor %}
                <li><a href="/api">API</a> </li>
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>
