<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    {%  if title %}
    <title>Trash Panda Hoard: {{ title }}</title>
    {% else %}
    <title>Trash Panda Hoard</title>
    {% endif %}
</head>
<body>
    <div>
        <h2 style="color: orange">Behold, My Stuff - {{ category_display_name }}</h2>
    </div>
    <div>
        <h3>
            <a href="/">Home</a>
            {% for category in categories %}
                <a href="/category/{{ category.name }}">{{ category.description }}</a>
            {% endfor %}
            <a href="/api">API Docs</a>
        </h3>
    </div>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>
