<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    {%  if title %}
    <title>Trash Panda Hoard: {{ title }}</title>
    {% else %}
    <title>Trash Panda Hoard</title>
    {% endif %}
</head>
<body>
    <div>
        <h2 style="color: orange">Behold, My Stuff - {{ category_display_name }}</h2>
    </div>
    <div>
        <h3>
            <a href="/" style="color:#985f0d">Home</a>
            <a href="/category/mb">Motherboards</a>
            <a href="/category/cpu">Processors</a>
            <a href="/category/gpu">Graphics Processors</a>
            <a href="/category/os">Operating Systems</a>
            <a href="/api">API Docs</a>
        </h3>
    </div>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>
