{% extends "base.html" %}

{% block content %}
    <form method="post" action="/new_item/{{ category }}">
        <div class="box">
            {% for attribute in attributes %}
            <div>
                <label>{{ attribute }}</label><br>
                <input type="text" name="{{ attribute }}">
            </div>
            {% endfor %}
            <button type="submit" onclick="this.form.submit()">Update {{ category }}</button>
        </div>
        <div class="box">
            <table>
            <thead>
                <tr>
                    {% for attribute in attributes %}
                        <th>{{ attribute }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for category_datum in category_data %}
                    <tr>
                        {% for data in category_datum %}
                            <td align="right">{{ category_datum[data] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </form>
{% endblock %}