{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Filter Options:</h3>
                <form class="form-horizontal-pf-align-left" role="form" method="post" action="/new_item/{{ category }}">
                    {% for filter in filters %}
                    <div>
                        <select name="filter_{{ filter }}" class="form-select" aria-label="select example">
                            <option selected>{{ filter }}</option>
                            {% for f in filters[filter] %}
                                <option>{{ f }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                    <div>
                        <button type="submit" onclick="this.form.submit()">Filter {{ category }}</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            {% for attribute in attributes %}
                                <th>{{ attribute }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for category_datum in category_data %}
                            <tr>
                            {% for data in category_datum %}
                                <td>{{ category_datum[data] }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}