{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        function display_category() {
            let e = document.getElementById("category_select");
            let text = e.options[e.selectedIndex].value;

            if (text !== "pick") {
                window.location = window.location.origin + "/category/" + text;
            }
        }
    </script>
    <div class="container">
        Place holder text what to do with a home page?????
    </div>
{% endblock %}
